DATABASE_NAME=your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password

DATABASE_HOST=localhost
DATABASE_PORT=5432

NEXT_PUBLIC_API_URL=http://localhost:8080
BACKEND_URL=http://backend:8080

HIBERNATE_DDL_AUTO=update
SPRING_PROFILES_ACTIVE=prod
